.errorPage {
    background-image: url("bgImg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: -apple-system,\.SFNSText-Regular,Helvetica Neue,Roboto,Segoe UI,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 700px;
    margin-top: 10px;
}

.errorPage h1 {
    font-size: 144px;
    font-weight: 100;
    margin-bottom: 10px;
}
.errorPage h2 {

    font: inherit;
    font-size: 18px;
}
