.App{
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  background: #96e0d3;
}

.contentContainer{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

